* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.formu .help-form .titleP, .formu .help-form form input,
.formu .help-form form textarea {
  padding: 5px 10px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url("../Multimedia/fondoBody.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.bg-space {
  display: flex;
  background-color: black;
  color: white; }
  .bg-space .logo {
    width: 150px;
    padding: 10px;
    padding-left: 20px; }

footer {
  width: 100%;
  background-color: black;
  margin-top: auto;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer div .dataFiscalImg {
    margin-left: 30%;
    margin-bottom: 10px;
    width: 40%; }
  footer .divSeparador {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center; }
    footer .divSeparador .botonFooter {
      border-radius: 8px;
      color: white;
      text-align: center;
      cursor: pointer;
      padding: 10px;
      border: none;
      background-color: #1c1c1c; }
      footer .divSeparador .botonFooter:hover {
        box-shadow: inset -10.5em 0 0 0 #007bff, inset 10.5em 0 0 0 #007bff;
        transition: all 1s ease-in-out; }
    footer .divSeparador .LinkSocial {
      display: flex;
      list-style: none;
      gap: 12px;
      justify-content: center; }
      footer .divSeparador .LinkSocial a img {
        height: 24px;
        width: 24px;
        transition: all 0.2s ease-in-out; }

@media screen and (min-width: 1000px) {
  footer {
    flex-direction: row; }
    footer div .dataFiscalImg {
      margin-top: 4%;
      margin-left: 20%;
      width: 55%; }
    footer .divSeparador {
      border-top: none;
      border-left: 1px solid #ccc;
      margin-top: 30px; } }

.derechos {
  background-color: white;
  text-align: center;
  font-size: 12px; }

.boton-per .carousel-control-prev-icon,
.boton-per .carousel-control-next-icon {
  background-color: #000000;
  border-radius: 30px;
  padding: 1.2rem; }

.imgLink {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .imgLink a img {
    width: 100%;
    height: 100%;
    padding: 10px; }

.banner {
  display: none; }

.articulos {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 20px; }
  .articulos .art {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    max-width: 250px;
    margin: 30px auto;
    box-shadow: 0 0 20px 5px white, 0 0 30px 5px white , 0 0 40px 5px white;
    cursor: pointer; }
    .articulos .art img {
      max-width: 100%;
      margin-bottom: 10px; }
    .articulos .art:hover img {
      transition: transform 500ms ease-in-out;
      filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
      transform: translate(0rem, -1rem); }
    .articulos .art h2 {
      text-align: center;
      font-size: 15px;
      margin: 0; }
    .articulos .art h3 {
      text-align: center;
      font-size: 14px;
      margin: 0; }
    .articulos .art .boton-compra {
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid #007bff;
      background-color: transparent;
      color: #007bff;
      font-size: 14px;
      cursor: pointer;
      transition: 1s, color 0.3s, transform 0.3s; }
      .articulos .art .boton-compra ::before, .articulos .art .boton-compra ::after {
        position: relative;
        z-index: -1; }
      .articulos .art .boton-compra:hover {
        color: white;
        background: #007bff;
        box-shadow: 0 0 5px #007bff, 0 0 25px #007bff, 0 0 50px #007bff, 0 0 200px #007bff; }

@media screen and (min-width: 600px) {
  .banner {
    display: block;
    width: 100%; }
  .banner img {
    width: 100%; }
  .articulos {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); } }

@media screen and (min-width: 1152px) {
  .articulos {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); } }

@media screen and (min-width: 1600px) {
  .articulos {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr)); } }

.formu {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .formu .help-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 600px;
    max-width: 100%; }
    .formu .help-form .h1Form {
      text-align: center;
      text-decoration: underline; }
    .formu .help-form .titleP {
      margin-top: 50px;
      color: #333;
      font-weight: bold; }
    .formu .help-form form {
      display: flex;
      flex-direction: column; }
      .formu .help-form form label {
        font-weight: bold;
        margin-top: 10px; }
      .formu .help-form form input,
      .formu .help-form form textarea {
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px; }
      .formu .help-form form button {
        margin-top: 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px;
        cursor: pointer; }
    .formu .help-form iframe {
      padding: 20px;
      width: 100%; }

@media screen and (min-width: 1152px) {
  .formu {
    justify-content: space-evenly;
    flex-direction: row; } }
